@import "tailwindcss";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f9f9;
     display: flex;
     justify-content: center;
     align-items: center;
    height: 900px;
}

.container {
     background-color: #fff;
     margin: auto;
     display: flex;
     flex-direction: column;
     height: 90vh;
     box-shadow: 90px 90px 100px rgba(0, 0, 0.2, 0.2);
     border-radius: 10px;
     height: 600px;
     width: 600px;
     max-height: 900px auto;

}

