@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f2f2;
}

#container {
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 90px 90px 100px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 40%;
  height: 600px;
  margin-top: 70px;
}

.img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
